.form {
	width: 60%;
	height: 10vh;
	display: flex;
	align-items: start;
	justify-content: center;
}

input {
	text-decoration: none;
	border: 0;
	width: 30%;
	height: 5vh;
	transition: border-color 0.2s;
	position: relative;
	outline: 0;
	font-size: 1.3rem;
	padding: 7px 15px;
	border-radius: 10px;
	display: inline-block;
}

button {
	width: 15%;
	margin-left: 5%;
	color: white;
	font-size: 1.5em;
	height: 7vh;
	padding: 7px 0;
	border-radius: 10px;
	outline: 0;
	border: 0;
	background-color: #505152;
	z-index: 1;
}
